@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
	--primary: #6b59d3;
	--secondary: #bfc0c0;
	--white: #fff;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: #8577d2;
	--back-btn-hover: #8b8c8c;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

body{
	background: var(--primary);
	color: var(--text-clr);
	font-size: 16px;
	position: relative;
}

.wrapper{
	width: 750px;
	max-width: 100%;
	background: var(--white);
	margin: 50px auto 0;
	padding: 50px;
	border-radius: 5px;
}

.wrapper .header{
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
}

.wrapper .header ul{
	display: flex;
}

.wrapper .header ul li{
	margin-right: 50px;
	position: relative;
}

.wrapper .header ul li:last-child{
	margin-right: 0;
}

.wrapper .header ul li:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 55px;
	width: 100%;
	height: 2px;
	background: var(--secondary);
}

.wrapper .header ul li:last-child:before{
	display: none;
}

.wrapper .header ul li div{
	padding: 5px;
	border-radius: 50%;
}

.wrapper .header ul li p{
	width: 50px;
	height: 50px;
	background: var(--secondary);
	color: var(--white);
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
}

.wrapper .header ul li.active:before{
	background: var(--primary);
}

.wrapper .header ul li.active p{
	background: var(--primary);
}

.wrapper .form_wrap{
	margin-bottom: 35px;
}

.wrapper .form_wrap h2{
	color: var(--header-clr);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.wrapper .form_wrap .input_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto 20px;
}

.wrapper .form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.wrapper .form_wrap .input_wrap label{
	display: block;
	margin-bottom: 5px;
}

.wrapper .form_wrap .input_wrap .input{
	border: 2px solid var(--secondary);
	border-radius: 3px;
	padding: 10px;
	display: block;
	width: 100%;	
	font-size: 16px;
	transition: 0.5s ease;
}

.wrapper .form_wrap .input_wrap .input:focus{
	border-color: var(--primary);
}

.wrapper .btns_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto;
}

.wrapper .btns_wrap .common_btns{
	display: flex;
	justify-content: space-between;
}

.wrapper .btns_wrap .common_btns.form_1_btns{
	justify-content: flex-end;
}

.wrapper .btns_wrap .common_btns button{
	border: 0;
	padding: 12px 15px;
	background: var(--primary);
	color: var(--white);
	width: 135px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 3px;
	transition: 0.5s ease;
	cursor: pointer;
}

.wrapper .btns_wrap .common_btns button.btn_back{
	background: var(--secondary);
}

.wrapper .btns_wrap .common_btns button.btn_next .icon{
	display: flex;
	margin-left: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_back .icon{
	display: flex;
	margin-right: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_done:hover{
	background: var(--next-btn-hover);
}

.wrapper .btns_wrap .common_btns button.btn_back:hover{
	background: var(--back-btn-hover);
}

.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.modal_wrapper .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal_wrapper .success_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background: var(--white);
	padding: 50px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	transition: 0.5s ease;
}

.modal_wrapper .success_wrap .modal_icon{
	margin-right: 20px;
	width: 50px;
	height: 50px;
	background: var(--primary);
	color: var(--white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
}

.modal_wrapper.active{
	visibility: visible;
}

.modal_wrapper.active .shadow{
	opacity: 1;
}

.modal_wrapper.active .success_wrap{
	transform: translate(-50%,-50%);
}



.myButton {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	padding:10px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton1 {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton1:hover {
	background-color:#5cbf2a;
}
.myButton1:active {
	position:relative;
	top:1px;
}







.google-pay {
	background-color: #fff;
	background-origin: content-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 4px;
	box-shadow: 0px 1px 3px 0px #6d6d6d;
	outline: 0;
	padding: 10px 8px;
  
	width: 100%;
	height: 40px;
	min-height: 40px;
	background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2241%22%20height%3D%2217%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M19.526%202.635v4.083h2.518c.6%200%201.096-.202%201.488-.605.403-.402.605-.882.605-1.437%200-.544-.202-1.018-.605-1.422-.392-.413-.888-.62-1.488-.62h-2.518zm0%205.52v4.736h-1.504V1.198h3.99c1.013%200%201.873.337%202.582%201.012.72.675%201.08%201.497%201.08%202.466%200%20.991-.36%201.819-1.08%202.482-.697.665-1.559.996-2.583.996h-2.485v.001zm7.668%202.287c0%20.392.166.718.499.98.332.26.722.391%201.168.391.633%200%201.196-.234%201.692-.701.497-.469.744-1.019.744-1.65-.469-.37-1.123-.555-1.962-.555-.61%200-1.12.148-1.528.442-.409.294-.613.657-.613%201.093m1.946-5.815c1.112%200%201.989.297%202.633.89.642.594.964%201.408.964%202.442v4.932h-1.439v-1.11h-.065c-.622.914-1.45%201.372-2.486%201.372-.882%200-1.621-.262-2.215-.784-.594-.523-.891-1.176-.891-1.96%200-.828.313-1.486.94-1.976s1.463-.735%202.51-.735c.892%200%201.629.163%202.206.49v-.344c0-.522-.207-.966-.621-1.33a2.132%202.132%200%200%200-1.455-.547c-.84%200-1.504.353-1.995%201.062l-1.324-.834c.73-1.045%201.81-1.568%203.238-1.568m11.853.262l-5.02%2011.53H34.42l1.864-4.034-3.302-7.496h1.635l2.387%205.749h.032l2.322-5.75z%22%20fill%3D%22%235F6368%22%2F%3E%3Cpath%20d%3D%22M13.448%207.134c0-.473-.04-.93-.116-1.366H6.988v2.588h3.634a3.11%203.11%200%200%201-1.344%202.042v1.68h2.169c1.27-1.17%202.001-2.9%202.001-4.944%22%20fill%3D%22%234285F4%22%2F%3E%3Cpath%20d%3D%22M6.988%2013.7c1.816%200%203.344-.595%204.459-1.621l-2.169-1.681c-.603.406-1.38.643-2.29.643-1.754%200-3.244-1.182-3.776-2.774H.978v1.731a6.728%206.728%200%200%200%206.01%203.703%22%20fill%3D%22%2334A853%22%2F%3E%3Cpath%20d%3D%22M3.212%208.267a4.034%204.034%200%200%201%200-2.572V3.964H.978A6.678%206.678%200%200%200%20.261%206.98c0%201.085.26%202.11.717%203.017l2.234-1.731z%22%20fill%3D%22%23FABB05%22%2F%3E%3Cpath%20d%3D%22M6.988%202.921c.992%200%201.88.34%202.58%201.008v.001l1.92-1.918C10.324.928%208.804.262%206.989.262a6.728%206.728%200%200%200-6.01%203.702l2.234%201.731c.532-1.592%202.022-2.774%203.776-2.774%22%20fill%3D%22%23E94235%22%2F%3E%3Cpath%20d%3D%22M0%200h41.285v18H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }